.task {
  &__nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  &__btn {
    border-radius: 8px;
    background: #7ca65c;
    color: white;
    float: left;
    padding: 10px;
    &:focus{
      outline: none;
    }
  }

  }
  &__add {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &__input {
      border-radius: 4px;
      border-style: none;
      resize: vertical;
      &:focus{
        outline: none;
      }
    }
    [type="submit"] {
      border-radius: 8px;
      background: #7ca65c;
      color: white;
      float: left;
      padding: 10px;
      &:focus{
        outline: none;
      }
    }
  }
  &__list {
    max-width: 600px;
    background-color: #e0e3e6;
    border-radius: 8px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  &__item {
    border-radius: 8px;
    display: flex;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0 2px 0px 0px #15141452;
    justify-content: space-between;
    align-items: flex-start;
    &:hover{
      cursor: pointer;
    }
    .label {
      color: #233849;
      margin-right: 15px;
      overflow-wrap: break-word;
      overflow: hidden;
    }
    .close {
      height: 10px;
      align-self: flex-end;
    }
  }
}
