<template>
  <div class="task__item">
    <div class="label">{{task.description}}</div>
    <div @click="remove(task.id)">
      <img class="close" src="../assets/close.svg" />
    </div>
  </div>
</template>

<script>
import Firebase from "../db";

export default {
  name: "item",
  props: {
    task: {}
  },
  methods: {
    remove: function(id) {
      Firebase.removeTask(id);
    }
  }
};
</script>

