<template>
  <form id="form" class="task__add" v-on:submit.prevent="addTask">
    <textarea-autosize
      type="text"
      class="task__item task__add__input"
      v-model="newTask.description"
      placeholder="Введите описание"
    />
    <div v-if="load" align=center>Сохранение...</div>
    <button type="submit" :hidden="newTask.description=='' || load">Add card</button>
  </form>
</template>

<script>
import Firebase from "../db";

export default {
  name: "add",
  data() {
    return {
      newTask: {
        description: ""
      },
      load: false
    };
  },
  methods: {
    addTask: function() {
      this.load = true;
      Firebase.addTask({ ...this.newTask }).then(()=>{
        this.load = false;
        this.newTask.description = "";
      });
      
    }
  }
};
</script>

