<template>
  <div>
    <item v-for="(task,index) in taskPaged" :key="index" :task="task" />
  <div  class="task__nav">
    <button class="task__nav__btn" @click="nextPage"  v-if="pageNumber < pageCount-1 ">></button>
     <button class="task__nav__btn" @click="prevPage" v-if="pageNumber>0"><</button>
     </div>
  </div>
</template>

<script>
import Firebase from "../db";
import item from "./TaskItem";
export default {
  name: "TaskList",
  data: () => ({ tasks: [], pageNumber: 0, size: 10 }),

  firestore: {
    tasks: Firebase.getTask()
  },
  components: {
    item
  },
  computed: {
    taskPaged() {
      const start = this.pageNumber * this.size,
        end = start + this.size;
      return this.tasks.slice(start, end);
    },
    pageCount(){
     
      let l = this.tasks.length,
          s = this.size;
         console.log( Math.ceil(l/s));  
      return Math.ceil(l/s);
}
  },
  methods: {
    nextPage() {
      this.pageNumber++;
    },
    prevPage() {
      this.pageNumber--;
    }
  }
};
</script>

