<template>
  <div id="app" class="task__list">
    <TaskAdd />
    <TaskList />
  </div>
</template>

<script>
import TaskList from "./components/TaskList.vue";
import TaskAdd from "./components/TaskAdd.vue";

export default {
  name: "app",

  components: {
    TaskList,
    TaskAdd
    
  }
 
};
</script>

<style lang="scss">
@import "/assets/css/style";
</style>
